@media only screen and (max-width: 992px) {
    img.pathMaindown {
        position: absolute;
        top: 460px px;
        width: 60px;
    }

    img.pathMainLeft {
        position: absolute;
        left: 0;
        top: 360px;
        width: 100px;
    }

    img.pathMainTop {
        position: absolute;
        left: 6px px;
        top: 178px;
        width: 30px;
    }

    img.pathMainfoot {
        position: absolute;
        top: 630px;
        width: 40px;
    }

    img.triangle {
        position: absolute;
        right: 274px;
        bottom: -26px px;
        width: 70px;
    }
}


/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    .sliderImg img {
        width: 100%;
        height: 200px;
    }

    img.pathMainLeft {
        width: 50px;
    }

    img.pathMaindown {
        position: absolute;
        top: 400px;
        width: 34px;
    }

    img.guiterPath {
        position: absolute;
        top: -105px;
        right: 0;
        width: 74px;
    }

    img.plusPath {
        width: 66px;
        position: absolute;
        bottom: -84px;
        left: 32%;
        z-index: 999999;
    }

    img.triangle {
        position: absolute;
        right: 126px;
        bottom: -41px;
        width: 70px;
    }

    img.tri1 {
        position: absolute;
        bottom: -56px;
        right: 38px;
    }

    .footerImg img {
        width: 100%;
        height: 120px;
    }
}

@media only screen and (max-width: 568px) {
    form.form p {

        font-size: 16px;
    }

    form.form span {

        font-size: 12px;
    }

    .gSelect input {
        width: 16px !important;
    }

    .sliderImg img {

        height: 150px;
    }

    .footerImg img {
        width: 100%;
        height: 100px;
    }
}

@media only screen and (max-width: 368px) {
    .eachInput {
        flex-direction: column;
    }

    .displayNone {
        display: none;
    }
}