* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}

/* banner Backgroud img openar */


.sliderWraper {
    width: 100%;
}

.sliderImg img {
    width: 100%;
}

.formWraper {
    margin-top: 35px;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}

form.form {
    /* width: 700px; */
    width: 80%;
    margin: auto;
    text-align: center;
}

form.form span {
    margin-right: 20px;
    width: 105px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: justify;
    text-transform: capitalize;
}

form.form p {
    text-align: end;
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: math;
    /* width: 80%; */
    width: auto;
}

form.form input {
    /* width: 575px; */
    /* margin-bottom: 14px; */
    padding: 10px;
    border: 2px solid #c9c9c9;
    border-radius: 5px;
    width: inherit;
    margin-bottom: 5px;
    margin-top: 5px;
}

.gSelect {
    display: flex;
    padding: 10px;
    border: 2px solid #c9c9c9;
    border-radius: 5px;
    justify-content: flex-start;
    align-items: center;
}

.gwraper {
    display: inline-block;
    /* width: 83%; */
    width: 575px;
    margin-bottom: 14px;
    width: inherit;
}

.gwraper legend {
    font-size: 16px;
    font-weight: 700;
    opacity: 0.8;
    font-family: math;
    text-align: justify;
}

.eachInput {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0px;
    align-items: center;
}

.gSelect input {

    width: 33px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gSelect select {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
}

.areaInput {

    width: 100%;
    margin-bottom: 14px;
    padding: 10px;
    border: 2px solid #c9c9c9;
    border-radius: 5px;
    text-align: left;

}

.textAreaWraper {
    text-align: end;
    width: 100%;
}

.textAreaWraper p {
    font-size: 16px !important;
    color: red;
    text-transform: unset !important;
}

#line {
    text-align: justify;
}

.submitBtn {
    width: 100%;
    text-align: justify;
}




.submitwraper input {
    background: red;
    border-radius: 10px;
    border: 1px solid red;
    color: white !important;
    font-weight: bolder !important;
    font-family: sans-serif !important;
    width: 150px !important;
}

/* .footerImg {
    width: 100%;
    height: 300px;
} */


img.guiterPath {
    position: absolute;
    top: -180px;
    right: 0;
    width: 150px;
}

.footerImg img {
    width: 100%;
    height: 200px;
}

img.pathMainLeft {
    position: absolute;
    left: 0;
    top: 360px;
}

img.pathMainTop {
    position: absolute;
    left: 6px;
    top: 80px;
}

img.pathMainfoot {
    position: absolute;
    top: 630px;
}

img.pathMaindown {
    position: absolute;
    top: 460px;
}

img.triangle {
    position: absolute;
    right: 274px;
    bottom: -26px;
}

img.tri1 {
    position: absolute;
    bottom: -56px;
    right: 100px;
}

img.plusPath {
    width: 90px;
    position: absolute;
    bottom: -99px;
    left: 32%;
    z-index: 999999;
}